*.pyc

.vscode/*

__pycache__/*

feature_extraction/out/
feature_extraction/training_set/
feature_extraction/data/
feature_extraction/*.csv

sample_model_training/work_dir/*
sample_model_training/args/archive_unused_json_20260616

feature_extraction/data/full/*

MAUnet/

out/

lc/

ThermEDGe-and-IREDGe/

CircuitNet/
